
.DS_Store
Adding-plugin/sweet-factory/node_modules/
Adding-plugin/sweet-factory/.DS_Store
After-DynamoDB/sweet-factory/node_modules/
Adding-plugin/sweet-factory/.serverless/
After-DynamoDB/sweet-factory/.serverless/
After-DynamoDB//sweet-factory/.DS_Store
